<header>
    <nav class="main-nav">
        <div class="container">
            <a class="logo" href="./">
                Geeks Lingo
            </a>
            <ul class="main-nav-list">
                <li><a href="#">kursy</a></li>
                <li><a href="./chat.html">chat</a></li>
                <li><a href="#">słownik programisty</a></li>
                <li><a href="#">oferty pracy</a></li>
                <li><a href="#" class="btn btn-green">zaloguj</a></li>
                <li><a href="#" class="btn btn-yellow">zarejestruj</a></li>
            </ul>
        </div>
    </nav>
</header>